Repository marynakernychna/IT-STEP-degree-project, pull requests merged in 2022-08, with the labels that each got.

#25 Create an endpoint to change password
  Backend/Core/DTO/User/ChangePasswordDTO.cs
  Backend/Core/DTO/User/UserEditProfileInfoDTO.cs
  Backend/Core/Interfaces/CustomService/IUserService.cs
  Backend/Core/Resources/ErrorMessages.Designer.cs
  Backend/Core/Resources/ErrorMessages.resx
  Backend/Core/Services/UserService.cs
  Backend/Core/Validation/User/ChangePasswordValidation.cs
  Backend/Core/Validation/User/UserEditProfileInfoValidation.cs
  Backend/Degree project/Controllers/UsersController.cs
Labels: back

#26 Add the ability to view & edit a user's phone number
  Frontend/src/assets/icons/phoneNumber.svg
  Frontend/src/assets/scss/assets/pages/_userBriefInfoPage.scss
  Frontend/src/components/modals/editClientInfo/index.jsx
  Frontend/src/pages/admin/clients/briefInfo/user/index.jsx
Labels: front

#27 Create an endpoint to create a good
  Backend/Core/DTO/Characteristic/CharacteristicWithoutWareIdDTO.cs
  Backend/Core/DTO/Ware/CreateWareDTO.cs
  Backend/Core/Entities/User/User.cs
  Backend/Core/Entities/Ware/Ware.cs
  Backend/Core/Entities/Ware/WareConfiguration.cs
  Backend/Core/Interfaces/CustomService/ICharacteristicService.cs
  Backend/Core/Interfaces/CustomService/IFileService.cs
  Backend/Core/Interfaces/CustomService/IWareService.cs
  Backend/Core/Resources/ErrorMessages.Designer.cs
  Backend/Core/Resources/ErrorMessages.resx
  Backend/Core/ServiceExtensions.cs
  Backend/Core/Services/CharacteristicService.cs
  Backend/Core/Services/FileService.cs
  Backend/Core/Services/WareService.cs
  Backend/Core/Specifications/WareSpecification.cs
  Backend/Core/Validation/Ware/CreateWareValidation.cs
  Backend/Degree project/Controllers/WaresController.cs
  Backend/Infrastructure/Migrations/20220812164903_Create.Designer.cs
  Backend/Infrastructure/Migrations/20220812164903_Create.cs
  Backend/Infrastructure/Migrations/20220812165000_AddSeed.Designer.cs
  Backend/Infrastructure/Migrations/20220812165000_AddSeed.cs
  Backend/Infrastructure/Migrations/ApplicationContextModelSnapshot.cs
Labels: back

#28 Add an ability to create a good
  Backend/Core/Interfaces/CustomService/ICategoryService.cs
  Backend/Core/Services/CategoryService.cs
  Backend/Core/Specifications/CategorySpecification.cs
  Backend/Degree project/Controllers/CategoriesController.cs
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/App.js
  Frontend/src/api/categories.js
  Frontend/src/api/goods.js
  Frontend/src/assets/scss/assets/pages/_createGoodPage.scss
  Frontend/src/assets/scss/main.scss
  Frontend/src/components/menu/items.js
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/messages/general.js
  Frontend/src/constants/messages/goods.js
  Frontend/src/constants/others.js
  Frontend/src/constants/pageUrls.js
  Frontend/src/pages/admin/categories/viewAndManage/index.jsx
  Frontend/src/pages/client/createGood/index.jsx
  Frontend/src/services/categories.js
  Frontend/src/services/goods.js
  Frontend/src/services/helpers.js
Labels: front, back

#29 Create an endpoint to get goods by category
  Backend/Core/DTO/PaginationFilter/PaginationFilterDTO.cs
  Backend/Core/DTO/PaginationFilter/PaginationFilterWareDTO.cs
  Backend/Core/DTO/Ware/WareInfoDTO.cs
  Backend/Core/Helpers/ApplicationProfiles/CharacteristicMap.cs
  Backend/Core/Interfaces/CustomService/IFileService.cs
  Backend/Core/Interfaces/CustomService/IWareService.cs
  Backend/Core/ServiceExtensions.cs
  Backend/Core/Services/FileService.cs
  Backend/Core/Services/WareService.cs
  Backend/Core/Specifications/CharacteristicSpecification.cs
  Backend/Core/Specifications/WareSpecification.cs
  Backend/Core/Validation/PaginationFilterWareValidation.cs
  Backend/Degree project/Controllers/WaresController.cs
Labels: back

#30 Add an ability to view goods and by category
  Backend/.gitignore
  Backend/Core/DTO/EntityIdDTO.cs
  Backend/Core/DTO/Ware/WareBriefInfoDTO.cs
  Backend/Core/DTO/Ware/WareInfoDTO.cs
  Backend/Core/Entities/Ware/Ware.cs
  Backend/Core/Entities/Ware/WareConfiguration.cs
  Backend/Core/Helpers/ExtensionMethods.cs
  Backend/Core/Interfaces/CustomService/IWareService.cs
  Backend/Core/Resources/ErrorMessages.Designer.cs
  Backend/Core/Resources/ErrorMessages.resx
  Backend/Core/Services/AuthenticationService.cs
  Backend/Core/Services/FileService.cs
  Backend/Core/Services/WareService.cs
  Backend/Core/Specifications/WareSpecification.cs
  Backend/Core/Validation/EntityIdValidation.cs
  Backend/Degree project/Controllers/WaresController.cs
  Frontend/src/App.js
  Frontend/src/api/goods.js
  Frontend/src/assets/scss/assets/pages/_viewGoodsPage.scss
  Frontend/src/assets/scss/main.scss
  Frontend/src/components/menu/items.js
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/pageUrls.js
  Frontend/src/pages/client/goods/createGood/index.jsx
  Frontend/src/pages/client/goods/view/good/index.jsx
  Frontend/src/pages/client/goods/view/index.jsx
  Frontend/src/services/goods.js
  Frontend/src/services/users.js
Labels: front, back, fix

#33 Create the endpoint to add a ware to a cart
  Backend/Core/Interfaces/CustomService/ICartService.cs
  Backend/Core/Resources/ErrorMessages.Designer.cs
  Backend/Core/Resources/ErrorMessages.resx
  Backend/Core/Services/CartService.cs
  Backend/Core/Specifications/WareCartSpecification.cs
  Backend/Degree project/Controllers/CartsController.cs
Labels: back

#34 Create the endpoint to delete a ware from a cart
  Backend/Core/Interfaces/CustomService/ICartService.cs
  Backend/Core/Services/CartService.cs
  Backend/Degree project/Controllers/CartsController.cs
Labels: back

#35 Add the ability to reset & change the password of the personal account
  Backend/Core/Interfaces/CustomService/IAuthenticationService.cs
  Backend/Core/Interfaces/CustomService/IUserService.cs
  Backend/Core/Services/AuthenticationService.cs
  Backend/Core/Services/UserService.cs
  Backend/Degree project/Controllers/AuthenticationController.cs
  Backend/Degree project/Controllers/UsersController.cs
  Frontend/src/App.js
  Frontend/src/api/authentication.js
  Frontend/src/assets/scss/assets/pages/_authentication.scss
  Frontend/src/components/modals/changePassword/index.jsx
  Frontend/src/components/modals/sendRequestPasswordReset/index.jsx
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/messages/authentication.js
  Frontend/src/constants/messages/inputValidationErrors.js
  Frontend/src/constants/pageUrls.js
  Frontend/src/pages/authentication/login/index.jsx
  Frontend/src/pages/authentication/resetPassword/index.jsx
  Frontend/src/pages/client/viewProfileInfo/index.jsx
  Frontend/src/services/authentication.js
Labels: front, back

#36 Add the ability to view all good's information
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/App.js
  Frontend/src/assets/scss/assets/pages/_viewGoodsPage.scss
  Frontend/src/components/modals/good/showInfo/index.jsx
  Frontend/src/pages/client/goods/create/index.jsx
  Frontend/src/pages/client/goods/view/good/index.jsx
  Frontend/src/pages/client/goods/view/index.jsx
  Frontend/src/services/goods.js
Labels: front

#37 create the endpoint to get a cart by user
  Backend/Core/DTO/PaginationFilter/PaginationFilterCartDTO.cs
  Backend/Core/Interfaces/CustomService/ICartService.cs
  Backend/Core/Services/CartService.cs
  Backend/Core/Validation/PaginationFilterCartValidation.cs
  Backend/Degree project/Controllers/CartsController.cs
Labels: back

#38 Add the ability to view a user's cart
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/App.js
  Frontend/src/api/carts.js
  Frontend/src/assets/scss/assets/pages/_userCart.scss
  Frontend/src/assets/scss/main.scss
  Frontend/src/components/menu/items.js
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/pageUrls.js
  Frontend/src/pages/client/cart/good/index.jsx
  Frontend/src/pages/client/cart/index.jsx
  Frontend/src/services/carts.js
Labels: front

#39 Add the ability to add & delete a good from a cart
  Frontend/src/api/carts.js
  Frontend/src/assets/scss/assets/pages/_userCart.scss
  Frontend/src/assets/scss/assets/pages/_viewGoodsPage.scss
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/messages/carts.js
  Frontend/src/pages/client/cart/good/index.jsx
  Frontend/src/pages/client/cart/index.jsx
  Frontend/src/pages/client/goods/view/good/index.jsx
  Frontend/src/services/carts.js
Labels: front

#40 Create the endpoint to create an order
  Backend/Core/DTO/Order/CreateOrderDTO.cs
  Backend/Core/Interfaces/CustomService/IOrderService.cs
  Backend/Core/Resources/ErrorMessages.Designer.cs
  Backend/Core/Resources/ErrorMessages.resx
  Backend/Core/ServiceExtensions.cs
  Backend/Core/Services/OrderService.cs
  Backend/Core/Specifications/WareCartSpecification.cs
  Backend/Core/Validation/Order/CreateOrderValidation.cs
  Backend/Degree project/Controllers/OrdersController.cs
Labels: back

#41 Add the ability to view a cart by user
  Backend/Degree project/Controllers/WaresController.cs
  Frontend/src/App.js
  Frontend/src/api/carts.js
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/pageUrls.js
  Frontend/src/pages/admin/clients/briefInfo/user/index.jsx
  Frontend/src/pages/admin/clients/cart/good/index.jsx
  Frontend/src/pages/admin/clients/cart/index.jsx
  Frontend/src/services/carts.js
Labels: front, back

#42 Create the endpoint to get goods created by user
  Backend/Core/Interfaces/CustomService/IWareService.cs
  Backend/Core/Services/WareService.cs
  Backend/Core/Specifications/WareSpecification.cs
  Backend/Degree project/Controllers/WaresController.cs
Labels: back

#43 Add the ability to make an order
  Frontend/src/api/orders.js
  Frontend/src/assets/scss/assets/pages/_userCart.scss
  Frontend/src/components/modals/good/showInfo/index.jsx
  Frontend/src/components/modals/makeAnOrder/index.jsx
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/messages/orders.js
  Frontend/src/pages/client/cart/index.jsx
  Frontend/src/services/orders.js
Labels: front

#44 Add the ability to view goods created by user
  Frontend/src/App.js
  Frontend/src/api/goods.js
  Frontend/src/components/menu/items.js
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/pageUrls.js
  Frontend/src/pages/client/goods/myGoods/good/index.jsx
  Frontend/src/pages/client/goods/myGoods/index.jsx
  Frontend/src/services/goods.js
Labels: front

#45 Create the endpoint to get available to pick orders (courier)
  Backend/Core/Constants/IdentityRoleNames.cs
  Backend/Core/DTO/Order/OrderInfoDTO.cs
  Backend/Core/Interfaces/CustomService/IOrderService.cs
  Backend/Core/Services/OrderService.cs
  Backend/Core/Specifications/OrderSpecification.cs
  Backend/Degree project/Controllers/OrdersController.cs
  Backend/Infrastructure/Data/SeedData/SeedData.cs
  Backend/Infrastructure/Migrations/20220819153350_AddSeed.cs
  Backend/Infrastructure/Migrations/20220827171151_AddSeed.Designer.cs
  Backend/Infrastructure/Migrations/20220827171151_AddSeed.cs
  Backend/Infrastructure/Migrations/ApplicationContextModelSnapshot.cs
Labels: back

#46 Create the endpoint to assign to an order
  Backend/Core/DTO/Order/OrderInfoDTO.cs
  Backend/Core/Helpers/ExtensionMethods.cs
  Backend/Core/Interfaces/CustomService/IOrderService.cs
  Backend/Core/Resources/ErrorMessages.Designer.cs
  Backend/Core/Resources/ErrorMessages.resx
  Backend/Core/Services/OrderService.cs
  Backend/Degree project/Controllers/OrdersController.cs
Labels: back

#47 Create the endpoint to reject selected order
  Backend/Core/Interfaces/CustomService/IOrderService.cs
  Backend/Core/Services/OrderService.cs
  Backend/Degree project/Controllers/OrdersController.cs
Labels: back

#48 Add the ability to view available to pick orders
  Backend/Degree project/Controllers/AuthenticationController.cs
  Frontend/src/App.js
  Frontend/src/api/orders.js
  Frontend/src/assets/scss/assets/pages/_availableOrders.scss
  Frontend/src/assets/scss/main.scss
  Frontend/src/components/menu/index.jsx
  Frontend/src/components/menu/items.js
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/pageUrls.js
  Frontend/src/constants/userRoles.js
  Frontend/src/pages/courier/orders/available/index.jsx
  Frontend/src/pages/courier/orders/available/order/index.jsx
  Frontend/src/services/authentication.js
  Frontend/src/services/orders.js
Labels: front, back

#49 Add the ability to pick an order
  Backend/Core/Interfaces/CustomService/IOrderService.cs
  Backend/Core/Resources/ErrorMessages.Designer.cs
  Backend/Core/Resources/ErrorMessages.resx
  Backend/Core/Services/OrderService.cs
  Backend/Core/Specifications/OrderSpecification.cs
  Backend/Degree project/Controllers/OrdersController.cs
  Frontend/src/api/orders.js
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/messages/orders.js
  Frontend/src/pages/courier/orders/available/index.jsx
  Frontend/src/pages/courier/orders/available/order/index.jsx
  Frontend/src/services/orders.js
Labels: front, back

#50 Create the endpoint to get picked orders
  Backend/Core/Interfaces/CustomService/IOrderService.cs
  Backend/Core/Services/OrderService.cs
  Backend/Core/Specifications/OrderSpecification.cs
  Backend/Degree project/Controllers/OrdersController.cs
Labels: back
