Repository marynakernychna/IT-STEP-degree-project, pull requests merged in 2022-09, with the labels that each got.

#51 Create the endpoint to get user's orders
  Backend/Core/DTO/Order/UserOrderInfoDTO.cs
  Backend/Core/Interfaces/CustomService/IOrderService.cs
  Backend/Core/Services/OrderService.cs
  Backend/Core/Specifications/OrderSpecification.cs
  Backend/Degree project/Controllers/OrdersController.cs
Labels: back

#52 Add the ability to view orders by user
  Frontend/src/App.js
  Frontend/src/api/orders.js
  Frontend/src/assets/scss/assets/pages/_ordersPage.scss
  Frontend/src/assets/scss/main.scss
  Frontend/src/components/menu/items.js
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/pageUrls.js
  Frontend/src/pages/client/orders/view/index.jsx
  Frontend/src/pages/client/orders/view/order/index.jsx
  Frontend/src/services/orders.js
Labels: front

#55 Create the endpoint to change an order info
  Backend/Core/DTO/Order/ChangeOrderInfoDTO.cs
  Backend/Core/DTO/Order/OrderDTO.cs
  Backend/Core/Interfaces/CustomService/IOrderService.cs
  Backend/Core/Services/OrderService.cs
  Backend/Core/Specifications/OrderSpecification.cs
  Backend/Core/Validation/Order/ChangeOrderInfoValidation.cs
  Backend/Core/Validation/Order/OrderValidation.cs
  Backend/Degree project/Controllers/OrdersController.cs
Labels: back

#56 Add the ability to reject the selected order & Fix routing
  Backend/Degree project/Controllers/OrdersController.cs
  Frontend/src/api/orders.js
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/messages/orders.js
  Frontend/src/pages/client/orders/view/order/index.jsx
  Frontend/src/pages/courier/orders/available/order/index.jsx
  Frontend/src/pages/courier/orders/picked/index.jsx
  Frontend/src/pages/courier/orders/picked/order/index.jsx
  Frontend/src/services/orders.js
Labels: front, back, fix

#57 Create the endpoint to delete an order
  Backend/Core/Interfaces/CustomService/IOrderService.cs
  Backend/Core/Services/OrderService.cs
  Backend/Degree project/Controllers/OrdersController.cs
Labels: back

#58 Add the ability to delete an order
  Frontend/src/api/orders.js
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/messages/orders.js
  Frontend/src/pages/client/orders/view/index.jsx
  Frontend/src/pages/client/orders/view/order/index.jsx
  Frontend/src/services/orders.js
Labels: front

#61 Add the ability to confirm delivery
  Frontend/src/api/orders.js
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/messages/orders.js
  Frontend/src/pages/client/orders/view/order/index.jsx
  Frontend/src/pages/courier/orders/picked/order/index.jsx
  Frontend/src/services/orders.js
Labels: front

#60 Create the endpoint to reject delivery confirmation
  Backend/Core/Helpers/ExtensionMethods.cs
  Backend/Core/Interfaces/CustomService/IOrderService.cs
  Backend/Core/Resources/ErrorMessages.Designer.cs
  Backend/Core/Resources/ErrorMessages.resx
  Backend/Core/Services/OrderService.cs
  Backend/Degree project/Controllers/OrdersController.cs
Labels: back

#62 Add the ability to reject delivery confirmation
  Frontend/src/api/orders.js
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/messages/orders.js
  Frontend/src/pages/client/orders/view/order/index.jsx
  Frontend/src/pages/courier/orders/picked/order/index.jsx
  Frontend/src/services/orders.js
Labels: front

#65 Create the endpoint to create courier account
  Backend/Core/Interfaces/CustomService/IAuthenticationService.cs
  Backend/Core/Services/AuthenticationService.cs
  Backend/Degree project/Controllers/AuthenticationController.cs
Labels: back

#66 Create the endpoint to view couriers
  Backend/Core/Interfaces/CustomService/IUserService.cs
  Backend/Core/Services/UserService.cs
  Backend/Degree project/Controllers/UsersController.cs
Labels: back

#67 Add the ability to view & create couriers account
  Frontend/src/App.js
  Frontend/src/api/authentication.js
  Frontend/src/api/users.js
  Frontend/src/assets/scss/assets/pages/_userBriefInfoPage.scss
  Frontend/src/components/menu/items.js
  Frontend/src/components/modals/courier/register/index.jsx
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/messages/authentication.js
  Frontend/src/constants/pageUrls.js
  Frontend/src/pages/admin/couriers/viewAndCreate/courier/index.jsx
  Frontend/src/pages/admin/couriers/viewAndCreate/index.jsx
  Frontend/src/services/authentication.js
  Frontend/src/services/users.js
Labels: front

#68 Add the ability to change an order info
  Backend/Core/Resources/ErrorMessages.Designer.cs
  Backend/Core/Resources/ErrorMessages.resx
  Backend/Core/Services/OrderService.cs
  Frontend/src/api/orders.js
  Frontend/src/components/modals/editOrderInfo/index.jsx
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/messages/orders.js
  Frontend/src/pages/client/orders/view/order/index.jsx
  Frontend/src/services/orders.js
Labels: front, back, fix

#69 Add loaders on pages
  Frontend/src/components/deliveredOrders/index.jsx
  Frontend/src/pages/admin/categories/viewAndManage/index.jsx
  Frontend/src/pages/admin/clients/briefInfo/index.jsx
  Frontend/src/pages/admin/clients/cart/index.jsx
  Frontend/src/pages/admin/couriers/viewAndCreate/index.jsx
  Frontend/src/pages/authentication/login/index.jsx
  Frontend/src/pages/authentication/registration/index.jsx
  Frontend/src/pages/authentication/resetPassword/index.jsx
  Frontend/src/pages/client/cart/index.jsx
  Frontend/src/pages/client/goods/create/index.jsx
  Frontend/src/pages/client/goods/myGoods/index.jsx
  Frontend/src/pages/client/goods/view/index.jsx
  Frontend/src/pages/client/orders/view/index.jsx
  Frontend/src/pages/client/viewProfileInfo/index.jsx
  Frontend/src/pages/courier/orders/available/index.jsx
  Frontend/src/pages/courier/orders/picked/index.jsx
Labels: front

#70 Fix add ware to cart endpoint
  Backend/Core/Resources/ErrorMessages.Designer.cs
  Backend/Core/Resources/ErrorMessages.resx
  Backend/Core/Services/CartService.cs
Labels: back, fix

#71 Add home page
  Frontend/src/App.js
  Frontend/src/assets/scss/assets/pages/_homePage.scss
  Frontend/src/assets/scss/main.scss
  Frontend/src/constants/pageUrls.js
  Frontend/src/pages/authentication/login/index.jsx
  Frontend/src/pages/home/index.jsx
Labels: front
