Repository marynakernychna/IT-STEP-degree-project, pull requests merged in 2022-07, with the labels that each got.

#4 Create an endpoint to get client's information
  Backend/Core/DTO/User/UserProfileInfoDTO.cs
  Backend/Core/Helpers/ApplicationProfiles/UserMap.cs
  Backend/Core/Helpers/ExtensionMethods.cs
  Backend/Core/Interfaces/CustomService/IUserService.cs
  Backend/Core/Resources/ErrorMessages.Designer.cs
  Backend/Core/ServiceExtensions.cs
  Backend/Core/Services/AuthenticationService.cs
  Backend/Core/Services/UserService.cs
  Backend/Degree project/Controllers/UserController.cs
Labels: back

#7 Create a page to login
  Frontend/package.json
  Frontend/src/App.js
  Frontend/src/api/authentication.js
  Frontend/src/assets/scss/assets/pages/_authentication.scss
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/messages/authentication.js
  Frontend/src/pages/authentication/login/index.jsx
  Frontend/src/pages/authentication/registration/index.jsx
  Frontend/src/privateRoute.js
  Frontend/src/reducers/authReducer.js
  Frontend/src/reducers/authentication.js
  Frontend/src/reduxActions/authentication/index.js
  Frontend/src/reduxActions/authentication/types.js
  Frontend/src/rootReducer.js
  Frontend/src/services/authentication.js
Labels: front, security

#8 Create an endpoint to get clients information
  Backend/Core/Constants/IdentityRoleNames.cs
  Backend/Core/Core.csproj
  Backend/Core/DTO/PaginationFilterDTO.cs
  Backend/Core/Helpers/PaginatedList.cs
  Backend/Core/Interfaces/CustomService/IUserService.cs
  Backend/Core/Services/UserService.cs
  Backend/Core/Specifications/UserRoleSpecification.cs
  Backend/Core/Specifications/UserSpecification.cs
  Backend/Degree project/Controllers/UserController.cs
  Backend/Infrastructure/Data/SeedData/SeedData.cs
  Backend/Infrastructure/Migrations/20220703122645_add-identity-role-seed.Designer.cs
  Backend/Infrastructure/Migrations/20220703122645_add-identity-role-seed.cs
  Backend/Infrastructure/Migrations/20220703180734_add-refresh-token-entity.cs
  Backend/Infrastructure/Migrations/20220711162237_Create.Designer.cs
  Backend/Infrastructure/Migrations/20220711162237_Create.cs
  Backend/Infrastructure/Migrations/20220711162343_AddSeed.Designer.cs
  Backend/Infrastructure/Migrations/20220711162343_AddSeed.cs
  Backend/Infrastructure/Migrations/ApplicationContextModelSnapshot.cs
Labels: back

#10 Create a page to view clients' information
  Frontend/src/App.js
  Frontend/src/api/users.js
  Frontend/src/assets/icons/email.svg
  Frontend/src/assets/icons/user.svg
  Frontend/src/assets/scss/assets/components/_layout.scss
  Frontend/src/assets/scss/assets/components/_menu.scss
  Frontend/src/assets/scss/assets/pages/_userBriefInfo.scss
  Frontend/src/assets/scss/main.scss
  Frontend/src/components/menu/index.jsx
  Frontend/src/components/menu/items.js
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/messages/users.js
  Frontend/src/constants/pagination.js
  Frontend/src/constants/statusCodes.js
  Frontend/src/constants/userRoles.js
  Frontend/src/layouts/index.jsx
  Frontend/src/pages/admin/clients/briefInfo/index.jsx
  Frontend/src/pages/admin/clients/briefInfo/user/index.jsx
  Frontend/src/pages/authentication/login/index.jsx
  Frontend/src/services/authentication.js
  Frontend/src/services/users.js
Labels: front

#11 Create an endpoint to add a category
  Backend/Core/DTO/Category/CreateCategoryDTO.cs
  Backend/Core/Helpers/ApplicationProfiles/CategoryMap.cs
  Backend/Core/Interfaces/CustomService/ICategoryService.cs
  Backend/Core/Resources/ErrorMessages.Designer.cs
  Backend/Core/Resources/ErrorMessages.resx
  Backend/Core/ServiceExtensions.cs
  Backend/Core/Services/CategoryService.cs
  Backend/Core/Specifications/CategorySpecification.cs
  Backend/Core/Validation/Category/CategoryCreateValidation.cs
  Backend/Degree project/Controllers/CategoryController.cs
Labels: back

#12 Create an endpoint to get categories
  Backend/Core/DTO/Category/CategoryDTO.cs
  Backend/Core/Helpers/ApplicationProfiles/CategoryMap.cs
  Backend/Core/Interfaces/CustomService/ICategoryService.cs
  Backend/Core/Services/CategoryService.cs
  Backend/Core/Specifications/CategorySpecification.cs
  Backend/Core/Validation/Authentication/UserLoginValidation.cs
  Backend/Core/Validation/Authentication/UserRegistrationValidation.cs
  Backend/Core/Validation/Category/CategoryCreateValidation.cs
  Backend/Core/Validation/PaginationFilterValidation.cs
  Backend/Core/Validation/User/UserEditProfileInfoValidation.cs
  Backend/Degree project/Controllers/CategoryController.cs
Labels: back

#13 Create an endpoint to delete a category
  Backend/Core/Helpers/ExtensionMethods.cs
  Backend/Core/Interfaces/CustomService/ICategoryService.cs
  Backend/Core/Resources/ErrorMessages.Designer.cs
  Backend/Core/Resources/ErrorMessages.resx
  Backend/Core/Services/CategoryService.cs
  Backend/Core/Validation/Category/CategoryTitleValidation.cs
  Backend/Degree project/Controllers/CategoryController.cs
Labels: back

#15 Create an endpoint to update a category
  Backend/Core/DTO/Category/UpdateCategoryDTO.cs
  Backend/Core/Interfaces/CustomService/ICategoryService.cs
  Backend/Core/Resources/ErrorMessages.Designer.cs
  Backend/Core/Resources/ErrorMessages.resx
  Backend/Core/Services/CategoryService.cs
  Backend/Core/Validation/Category/UpdateCategoryValidation.cs
  Backend/Degree project/Controllers/CategoryController.cs
Labels: back

#18 Supplement the "Brief info" page with the ability to edit information
  Backend/Core/Resources/ErrorMessages.Designer.cs
  Backend/Core/Resources/ErrorMessages.resx
  Backend/Core/Services/AuthenticationService.cs
  Frontend/src/api/users.js
  Frontend/src/assets/scss/assets/pages/_userBriefInfoPage.scss
  Frontend/src/components/modals/editClientInfo/index.jsx
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/messages/users.js
  Frontend/src/constants/others.js
  Frontend/src/constants/statusCodes.js
  Frontend/src/pages/admin/clients/briefInfo/index.jsx
  Frontend/src/pages/admin/clients/briefInfo/user/index.jsx
  Frontend/src/services/users.js
Labels: front, back, fix

#19 Create a page to view client's information & fix menu
  Frontend/src/App.js
  Frontend/src/api/users.js
  Frontend/src/assets/scss/assets/pages/_viewProfileInfoPage.scss
  Frontend/src/assets/scss/main.scss
  Frontend/src/components/menu/index.jsx
  Frontend/src/components/menu/items.js
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/pageUrls.js
  Frontend/src/pages/client/viewProfileInfo/index.jsx
  Frontend/src/services/authentication.js
  Frontend/src/services/users.js
Labels: front, fix

#20 Add to DW-21 edit client's information
  Backend/Core/DTO/Authentication/UserRegistrationDTO.cs
  Backend/Core/Validation/Authentication/UserRegistrationValidation.cs
  Backend/Core/Validation/User/UserEditProfileInfoValidation.cs
  Frontend/src/api/users.js
  Frontend/src/assets/scss/assets/pages/_viewProfileInfoPage.scss
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/inputRules.js
  Frontend/src/constants/messages/inputValidationErrors.js
  Frontend/src/pages/authentication/registration/index.jsx
  Frontend/src/pages/client/viewProfileInfo/index.jsx
  Frontend/src/services/authentication.js
  Frontend/src/services/users.js
Labels: front, back

#21 Add the ability for an admin to view & edit their profile information
  Backend/Infrastructure/Data/SeedData/SeedData.cs
  Backend/Infrastructure/Migrations/20220725165956_AddSeed.Designer.cs
  Backend/Infrastructure/Migrations/20220725165956_AddSeed.cs
  Backend/Infrastructure/Migrations/ApplicationContextModelSnapshot.cs
  Frontend/src/App.js
  Frontend/src/assets/scss/assets/pages/_viewProfileInfoPage.scss
  Frontend/src/components/menu/index.jsx
  Frontend/src/components/menu/items.js
  Frontend/src/layouts/index.jsx
  Frontend/src/pages/client/viewProfileInfo/index.jsx
Labels: front, back

#22 Add logout logic
  Backend/Core/DTO/Authentication/UserLogoutDTO.cs
  Backend/Core/Helpers/ExtensionMethods.cs
  Backend/Core/Interfaces/CustomService/IAuthenticationService.cs
  Backend/Core/Resources/ErrorMessages.Designer.cs
  Backend/Core/Resources/ErrorMessages.resx
  Backend/Core/Services/AuthenticationService.cs
  Backend/Core/Specifications/RefreshTokenSpecification.cs
  Backend/Degree project/Controllers/AuthenticationController.cs
  Frontend/src/api/authentication.js
  Frontend/src/components/menu/index.jsx
  Frontend/src/components/menu/items.js
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/messages/authentication.js
  Frontend/src/reducers/authentication.js
  Frontend/src/reduxActions/authentication/index.js
  Frontend/src/reduxActions/authentication/types.js
  Frontend/src/services/authentication.js
Labels: front, back

#23 Add an ability to manage categories & fix logic in the backend
  Backend/Core/Services/CategoryService.cs
  Backend/Core/Specifications/CategorySpecification.cs
  Backend/Degree project/Controllers/CategoriesController.cs
  Frontend/src/App.js
  Frontend/src/api/categories.js
  Frontend/src/assets/scss/assets/pages/_viewAndManageCategoriesPage.scss
  Frontend/src/assets/scss/main.scss
  Frontend/src/components/menu/items.js
  Frontend/src/components/modals/updateCategoryInfo/index.jsx
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/messages/general.js
  Frontend/src/constants/pageUrls.js
  Frontend/src/pages/admin/categories/viewAndManage/category/index.jsx
  Frontend/src/pages/admin/categories/viewAndManage/index.jsx
  Frontend/src/services/categories.js
Labels: front, back, fix

#24 Add the ability to add a category
  Frontend/src/api/categories.js
  Frontend/src/assets/scss/assets/pages/_viewAndManageCategoriesPage.scss
  Frontend/src/components/modals/category/createCategory/index.jsx
  Frontend/src/components/modals/category/updateCategoryInfo/index.jsx
  Frontend/src/constants/api/urls.js
  Frontend/src/constants/messages/general.js
  Frontend/src/constants/messages/inputValidationErrors.js
  Frontend/src/pages/admin/categories/viewAndManage/category/index.jsx
  Frontend/src/pages/admin/categories/viewAndManage/index.jsx
  Frontend/src/services/categories.js
Labels: front
